.next
node_modules/
build/
dist/
.nuxt/
out/
.cache/
.npm/
.env.local
.env.*.local
.DS_Store
*.log
*.cache
*.lock
coverage/
public/sw.js
public/workbox-*.js
public/worker-*.js
public/favicon.ico
public/manifest.json
public/static/
